.button{
    font-size:1.2em;
    background-color:#e01e26;
    text-transform:uppercase;
}
.button:hover{
    background-color:#a01e26;
}
.sub-nav{
    overflow:visible;
}
.sub-nav dd a{
    font-size:20px;
    border-radius:0px;
    line-height:1.8em;
    border-radius:0px;
    border-bottom:solid 5px #fff;
    -webkit-transition:all 100ms;
}
.sub-nav dd.active a{
    color:#333;
    font-size:20px;
    background:#fff;
    border-bottom:solid 5px #e01e26;
    padding:5px;
    border-radius:0px;
    -webkit-transition:all 100ms;
}
.sub-nav dd.active a:hover{
    background:#fff;
    color:#999;
}
.promo{
    max-height:500px;
    overflow:hidden;
    position:relative;
    background:#000;
    margin-bottom:0px;
}
.promo-title{
    position:absolute;
    top:50px;
    left:150px;
    color:#fff;
    max-width:900px;
    margin:auto;
}
.promo-title h2{
    color:#fff;
    font-size:96px;
    font-weight:bold;
    position:absolute;
    left:-1500px;
    width:900px;
    transition:  all 1s;
}
.promo-title h2.show{
    left:0px;
    transition:all 1sec;
}

video{
    position: relative;
    width: 100%;
    min-width: 1200px;
    opacity:0.6;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
}

.top-bar{
    height:75px;
    background:#fff;
    border-bottom:solid 1px #ddd;
    width:100%;
}
.top-bar .row{
    max-width:62.5rem
}
.top-bar .title-area{
    margin-right:40px;
}
.top-bar-section li{
    background:#fff;
}
.top-bar-section li:hover{
    background:#fff;
}

.top-bar-section li a:not(.button):hover{
    background:#fff;
    color:#e3191b;

}
.top-bar-section li a:not(.button){
    background:#fff;
    padding:22px 5px 0px 2px;
    margin:0px 18px;
    line-height:32px;
}
.top-bar-section ul li > a{
    font-size:18px;
    color:#999;
    background:#fff;
    width:inherit;
    line-height:22px;
}
.top-bar-section ul li > a.selected{
    color:#e3191b;
    border-bottom:solid 7px #e3191b;
}
.top-bar-section ul{
    background:#fff;
}
body p{
    font-size:1.4em;
}
body p.small{
    font-size:1em;
}
input.email{
    width:300px;
    display:inline;
    font-size:22px;
    padding:10px;
    height:34px;
}
div.email-signup{
    margin-top:15px;
}
div.email-signup label{
    float:left;
    padding:10px 20px 5px 0px;
    font-size:18px;
    font-weight:bold;
}
div.email-signup input.button{
    padding:6px 20px;
    margin-left:10px;
}

div.section-about{
    padding:80px 0px;
}
div.section-attending{
    padding:0px 0px;
    background:#555656;
    color:#fff;
    position:relative;
    height:350px;
}
div.section-speaking{
    padding:80px 0px;
}
div.section-attending h1{
    color:#fff;
}
div.section-pastevents{
    background:#e01e26;
    color:#fff;
    padding:80px 0px;
}
div.section-pastevents h1,
div.section-pastevents h3,
div.section-pastevents h4{
    color:#fff;
}
div.section-pastevents a{
    color:#333;
}

div.aboutSpeaker{
    padding:40px 20px 0px;
    border-top:solid 1px #ccc;
    color:#333;
}
div.spark{
    margin-top:40px;
}
div.speakername{
    color:#666;
}

div.getinvolved{
    border-top:solid 1px #ccc;
    margin-top:40px;
    padding-top:20px;
}

div.getinvolved input.email{
    width:60%;
}
div.getinvolved input{
    float:left;
}
div.getinvolved input.button{
    padding:9px 15px;
    margin-left:20px;
}
div.novideo{
    text-align:center;
    padding-top:100px;
}
div.novideo h2{
    color:#999;
}
div.social{
    text-align:right;
}

div.pastspark{
    width:360px;
    border:solid 1px #eee;
    padding:7px;
    margin:15px;
    float:left;
    height:180px;
    background:#fff;
    color:#999;
}
div.pastspark img.video{
    width:120px;
    height:90px;
    padding-right:5px;
    float:left;
}
div.pastspark h4{
    display:inline;
}
div.pastspark div.sparktitle{
    height:100px;
}
div.pastignite{
    border-top:solid 1px #ccc;
    padding-top:30px;
}
div.pastignite h6{
    float:right;

}

div.attending-info{
    position:absolute;
    right:0px;
    top:0px;
    padding:10px 100px 14px 30px;
    background:#555656;
    height:350px;
    text-align:right;
    font-size:12px;

}
.submit-topic{
    margin-top:125px;
}
