.clear{
    clear:both;
}
.button{
    font-size:1.2em;
    background-color:#e01e26;
    text-transform:uppercase;
}
.button:hover{
    background-color:#a01e26;
}
.button.main, .button.main.disabled:hover {
    margin-top:30px;
    background-color:rgba(255, 255, 255, 0.1);
    color:#fff;
    border: solid 1px #ccc;
}
.button.main:hover{
    background-color:rgba(255, 255, 255, 0.3);
    border: solid 1px #fff;
}

ul.title-area img{
    height:65px;
    padding:5px;
}

.sub-nav{
    overflow:visible;
    padding-top:26px;
}
.sub-nav dd a{
    color:#fff;
    font-size:20px;
    border-radius:0px;
    line-height:1.8em;
    border-radius:0px;
    padding:5px;
    background:transparent;
    -webkit-transition:all 100ms;
    -moz-transition:all 100ms;
    transition:100ms;
}
.sub-nav dd.active a{
    color:#e01e26;
    background:transparent;
    padding:5px;
    border-radius:0px;
    -webkit-transition:all 100ms;
    -moz-transition:all 100ms;
    transition:all 50ms;
}
.sub-nav dd.active a:hover{
    background:transparent;
    color:#d01d16;
}
.sub-nav dd a:hover{
    background:transparent;
    color:#d01d16;
}

.promo{
    height:100%;
    overflow:hidden;
    position:relative;
    background: url('/imgs/background.png');
    background-size: cover;
    background-position: center;
    margin-bottom:0px;
    top:-80px;
}
.attribution{
    font-size:16px;
    color:#ccc;
    position:absolute;
    bottom:3px;
    right:3px;
}
.logo.large{
    text-align:center;
    height:800px;
}
.logo.large img {
    margin-top:100px;
}
.promo-title{
    position:absolute;
    top:150px;
    left:150px;
    color:#fff;
    max-width:900px;
    margin:auto;
}
.promo-title h2{
    color:#fff;
    font-size:96px;
    font-weight:bold;
    position:absolute;
    left:-1500px;
    width:900px;
    transition:  all 1s;
}
.promo-title h2.show{
    left:0px;
    transition:all 1sec;
}

video{
    position: relative;
    width: 100%;
    min-width: 1200px;
    opacity:1;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
}

.top-bar{
    height:65px;
    width:100%;
    background: #333;
}
.top-bar.clear{
    background: transparent;
}

.top-bar .row{
    max-width:62.5rem
}
.top-bar .title-area{
    margin-right:40px;
}
.top-bar-section li a:not(.button){
    background:#fff;
    padding:22px 5px 0px 2px;
    margin:0px 18px;
    line-height:32px;
}
.top-bar-section ul li > a{
    font-size:18px;
    color:#999;
    background:#fff;
    width:inherit;
    line-height:22px;
}
.top-bar-section ul li > a.selected{
    color:#e3191b;
    border-bottom:solid 7px #e3191b;
}
.top-bar-section ul{
    background:#fff;
}
body p{
    font-size:1.4em;
}
body p.small{
    font-size:1em;
}
input.email{
    width:300px;
    display:inline;
    font-size:22px;
    padding:10px;
    height:34px;
}
div.email-signup{
    margin-top:15px;
}
div.email-signup label{
    float:left;
    padding:10px 20px 5px 0px;
    font-size:18px;
    font-weight:bold;
}
div.email-signup input.button{
    padding:6px 20px;
    margin-left:10px;
}

div.section-about{
    padding:80px 0px 0px 0px;
}
div.section-attending{
    padding:0px 0px;
    background:#555656;
    color:#fff;
    position:relative;
    height:350px;
}
div.section-attending #map {
    width: 100%;
    height: 350px;
}
div.section-speaking, div.section-howto {
    padding:80px 0px;
}
div.section-attending h1{
    color:#fff;
}
div.section-pastevents{
    background:#e01e26;
    color:#fff;
    padding:80px 0px;
}
div.section-pastevents h1,
div.section-pastevents h4{
    color:#fff;
}
div.section-pastevents a{
    color:#333;
}
div.section-sponsors{
    padding:80px 0px;
    min-height:300px;
}
div.sponsors{
    text-align:center;
}
div.aboutSpeaker{
    padding:40px 20px 0px;
    border-top:solid 1px #ccc;
    color:#333;
}
div.spark{
    margin-top:40px;
}
div.speakername{
    color:#666;
}

div.getinvolved{
    border-top:solid 1px #ccc;
    margin-top:40px;
    padding-top:20px;
}

div.getinvolved input.email{
    width:60%;
}
div.getinvolved input{
    float:left;
}
div.getinvolved input.button{
    padding:9px 15px;
    margin-left:20px;
}
div.novideo{
    text-align:center;
    padding-top:100px;
}
div.novideo h2{
    color:#999;
}
div.social{
    text-align:right;
}

div.pastspark{

    width:100%;
    border-bottom:solid 1px #eee;
    padding:7px;
    margin:5px 0px;
    float:left;
    min-height:100px;
    background:#fff;
    color:#999;
}

div.pastspark img.video{
    height:80px;
    padding-right:15px;
    float:left;
}
div.pastspark h4{
    display:inline;
}
div.pastignite{
    border-top:solid 1px #ccc;
    padding-top:30px;
    background:#fff;
    color:#333;
    padding:15px;
}

div.attending-info{
    position:absolute;
    right:0px;
    top:0px;
    padding:10px 100px 14px 30px;
    background:#555656;
    height:350px;
    text-align:right;
    font-size:12px;

}
.submit-topic{
    margin-top:125px;
}
.light{
    color:#999;
}
.relatedVideos{
  margin-top:20px;
  border-top:solid 1px #eee;
  padding-top:10px;
}
.relatedvid{
    height:280px;
}
.banner {
    color:#333;
    background:#fff;
    font-size:18px;
    font-weight:bold;
    text-align:center;
    border-top:solid 1px #eee;
    padding-top:10px;
    -webkit-box-shadow: 0px -5px 5px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px -5px 5px 0px rgba(0,0,0,0.19);
    box-shadow: 0px -5px 5px 0px rgba(0,0,0,0.19);
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    height: 60px;
}
.hide {
    display:none;
}

table{
    width:100%;
}
