---
layout: default
title: Ignite San Francisco
showmapbox: true
twittercard: summary_large_image
twitter: ignitebayarea
twittercardimage: "http://www.ignitesanfrancisco.com/imgs/ignite_logo.png"
twittercarddescription: "Ignite San Francisco is the Bay Area’s volunteer-run chapter of Ignite Talks--a global event series of speedy presentations. We bring the community together three times a year for a night of entertainment on a diverse variety of topics. Presenting on the subjects of their choice, speakers have precisely 5 minutes to amuse, educate, enlighten, or inspire the audience."
redirect_from:
   - /proposals/
---
<div class="promo ">
  <div class='logo large'>
      <img src="/imgs/logo_white_large.png" /> <br />
      <!--<a href="{{ site.ticketurl }}">-->
        <div class="button main disabled">Ignite SF {{ site.next_event_number}} is {{ site.next_event_date }}!</div>
      <!--</a>-->
      <a class='attribution' href='https://www.flickr.com/photos/thomashawk/221827536/in/set-72157603703829094' target='_blank'>Photo By Thomas Hawk</a>
  </div>
  <div data-magellan-destination="about"></div>
</div>


<a name="about" ></a>
<div class="section-about">
  <div class="row about">
    <div class="content large-12 large-centered columns">
      <h1>About</h1>
      <p>
        Ignite San Francisco is the Bay Area’s volunteer-run chapter of
        <a href="http://www.ignitetalks.io/" target="_blank">Ignite Talks</a>--a global event series of speedy
        presentations. We bring the community together three times a year for a night of entertainment on a diverse
        variety of topics. Presenting on the subjects of their choice, speakers have precisely 5 minutes to amuse,
        educate, enlighten, or inspire the audience.
      </p>
    </div>

    <div class="large-12 columns">

      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup" class="email-signup">
        <form action="http://ignitesanfrancisco.us2.list-manage.com/subscribe/post?u=a6f785ee4e1b93c767a41d660&amp;id=307b345ed9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

          <div class="mc-field-group">
	        <label for="mce-EMAIL"> Get emailed about upcoming events:</label>
	        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            <input type="submit" value="Join" name="subscribe" id="mc-embedded-subscribe" class="button">
          </div>
	      <div id="mce-responses" class="clear">
		    <div class="response" id="mce-error-response" style="display:none"></div>
		    <div class="response" id="mce-success-response" style="display:none"></div>
	      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_a6f785ee4e1b93c767a41d660_307b345ed9" value=""></div>
          <div data-magellan-destination="attend"></div>
        </form>

      </div>

        <!--End mc_embed_signup-->

    </div>
  </div>
</div>


<a name="attend" ></a>
<div style="padding:37px"></div>
<div class="section-attending">
  {% if page.showmapbox %}
    <!-- Mapbox -->
    <div id='map' class="hide-for-small-only"></div>
  {% endif %}
  <div class="attending-info" >
    <h1>Attend</h1>
    <p class="date">{{ site.next_event_date }} {{ site.next_event_year }}</p>
    <p>
      Ignite SF {{ site.next_event_number }}<br>
      Doors at 7pm <br>
      Marine Memorial Theatre
    </p>
    <!--<a href="{{ site.ticketurl }}">-->
      <div class="button disabled">Tickets Available Soon!</div>
    <!--</a>-->
    <div  data-magellan-destination="speak"></div>
  </div>

</div>
<a name="speak"></a>
<div class="section-speaking">
  <div class="row speaking">
    <div class="large-8 medium-8 columns">
      <h1>Speak</h1>
      <p>
        Ignite is about sharing your interests and passions with the community. Teach us something new,
        give us insight into a topic that fascinates you, open up with a personal story of success or
        failure.  Enlighten us but make it quick! You'll get to prepare 20 slides, which automatically
        advance every 15 seconds, for a total of 5 minutes. The lively format makes for fast and fun
        presentations.
      </p>
      <p>
        Submissions are now open!
      </p>
    </div>
    <div class="large-4 medium-4 columns">
      <a href="/submit"><div class="button submit-topic">Submit your topic</div></a>
    </div>
  </div>
  <div data-magellan-destination="pastignites"></div>
</div>

<a name="pastignites"  ></a>
<div class="section-pastevents">
  <div class="row videos">
    <div class="large-12 columns">
       <h1>Next Event</h1>
       <div class="pastignite">
        <p class="small right light">May 17th 2017</p>
        <a href="/ignitesf12"><h3>Ignite SF 13</h3></a>
       </div>
      <h1>Past Events</h1>
      <div class="pastignite">
        <p class="small right light">November 2nd 2016</p>
        <a href="/ignitesf12"><h3>Ignite SF 12</h3></a>
      </div>
      <div class="pastignite">
       <p class="small right light">May 26th 2016</p>
       <a href="/ignitesf10"><h3>Ignite SF 11</h3></a>
      </div>
      <div class="pastignite">
        <p class="small right light">January 22nd 2015</p>
        <a href='/ignitesf9'><h3>Ignite SF 10</h3></a>

        {% for p in site.pages %}
        {% if p.layout == "spark" %}
        {% if p.ignitesf == 10 %}
        <div class="pastspark" >
        <div class="sparktitle">
          <img align="left" class="video" src="http://img.youtube.com/vi/{{ p.videoId }}/mqdefault.jpg" />
          <h4><a href="{{p.url}}">{{p.title}}</a></h4>
          <h6><img src="{{p.profileImageUrl}}" width="48"> {{p.name}}</h6>
        </div>

        </div>

        {% endif %}
        {% endif %}
        {% endfor %}
        <div class="clear"></div>
       </div>

      <div class="pastignite">
        <p class="small right light">March 27th 2014</p>
        <a href='/ignitesf9'><h3>Ignite SF 9</h3></a>

        {% for p in site.pages %}
        {% if p.layout == "spark" %}
        {% if p.ignitesf == 9 %}
        <div class="pastspark" >
          <div class="sparktitle">
            <img align="left" class="video" src="http://img.youtube.com/vi/{{ p.videoId }}/mqdefault.jpg" />
            <h4><a href="{{p.url}}">{{p.title}}</a></h4>
            <h6><img src="{{p.profileImageUrl}}" width="48"> {{p.name}}</h6>
          </div>

        </div>

        {% endif %}
        {% endif %}
        {% endfor %}
        <div class="clear"></div>
      </div>

      <div class="pastignite">
        <p class="small right light">December 5th 2013</p>
        <a href='/ignitesf8'><h3>Ignite SF 8</h3></a>

        {% for p in site.pages %}
        {% if p.layout == "spark" %}
        {% if p.ignitesf == 8 %}
        <div class="pastspark" >
          <div class="sparktitle">
            <img align="left" class="video" src="http://img.youtube.com/vi/{{ p.videoId }}/mqdefault.jpg" />
            <h4><a href="{{p.url}}">{{p.title}}</a></h4>
            <h6><img src="{{p.profileImageUrl}}" width="48"> {{p.name}}</h6>
          </div>

        </div>

        {% endif %}
        {% endif %}
        {% endfor %}
        <div class="clear"></div>
      </div>

    </div>
  </div>
  <div data-magellan-destination="sponsors"></div>
</div>
