<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">


        {% if page.twittercard %}
        <!-- twitter card -->
            <meta name="twitter:card" content="{{ page.twittercard }}">
            <meta name="twitter:site" content="@{{ site.twitter }}">
            {% if page.twitter %}
            <meta name="twitter:creator" content="@{{ page.twitter}}">
            {% endif %}
            <meta name="twitter:title" content="{{ page.title }}">
            {% if page.twittercarddescription %}
            <meta name="twitter:description" content="{{ page.twittercarddescription | truncate: 200 }}">
            {% else %}
            <meta name="twitter:description" content="{{ page.content | markdownify | strip_html | strip_newlines | strip | truncate: 200 }}">
            {% endif %}
            {% if page.twittercardimage %}
                <meta name="twitter:image:src" content="{{ page.twittercardimage }}">
            {% else %}
                <meta name="twitter:image:src" content="http://img.youtube.com/vi/{{ page.videoId }}/maxresdefault.jpg">
            {% endif %}
        {% endif %}


        <!-- Open Graph data -->
        <meta property="og:title" content="{{ page.title }}" >
        <meta property="og:type" content="article" >
        <meta property="og:url" content="{{ page.url }}" >
        {% if page.twittercardimage %}
            <meta property="og:image" content="{{ page.twittercardimage }}" >
        {% else if page.videoId %}
            <meta property="og:image" content="http://img.youtube.com/vi/{{ page.videoId }}/maxresdefault.jpg" >
        {% endif %}
        {% if page.twittercarddescription %}
            <meta property="og:description" content="{{ page.twittercarddescription | truncate: 200 }}">
        {% else %}
            <meta property="og:description" content="{{ page.content | markdownify | strip_html | strip_newlines | strip | truncate: 200 }}">
        {% endif %}
        <meta property="og:site_name" content="{{ site.name }}" />
        <meta property="fb:admins" content="{{ site.fbid }}" />

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/foundation.css" />
        <script src="/js/modernizr.js"></script>
        <link rel="stylesheet" href="/css/ignitesf.css" />
        <link rel="stylesheet" href="/css/ignitesf-mobile.css" media="all and (max-width:600px)" />
    </head>
    <body>
      <div class="fixed fixedheader" >
        <nav class="top-bar clear" data-topbar >
            <div class="left">
              <ul class="title-area">
                <li class="name">
                  <a href="/"><img src="/imgs/ignite_logo.png" ></a>
                </li>
              </ul>
              <section class="top-bar-section">
                <div class="fixed fixednav" data-magellan-expedition="" style="background:none;">
                  <dl class="sub-nav right">
                      <dd data-magellan-arrival="top"><a href="/"></a></dd>
                    <dd data-magellan-arrival="about"><a href="/#about">About</a></dd>
                    <dd data-magellan-arrival="attend"><a href="/#attend">Attend</a></dd>
                    <dd data-magellan-arrival="speak"><a href="/#speak">Speak</a></dd>
                    <dd data-magellan-arrival="pastignites"><a href="/#pastignites">Past Ignites</a></dd>
                  </dl>
                </div>
              </section>
          </div>
        </nav>
      </div>
<div data-magellan-destination="top"></div>
        {{ content }}

<div class="section-sponsors">
  <div class="row sponsors">
    <div class="large-12 columns">
      <p>Ignite San Francisco is 100% volunteer run. We do it with some help from these great sponsors!</p>
      <p>
        <a href="http://www.campaignmonitor.com/"><img width="300" src="/imgs/sponsors/campaignmonitor_full_big.png"></a>
        <a href="http://www.wireframepictures.com/"><img width="300" src="/imgs/sponsors/wireframe.png"></a>
      </p>
    </div>
  </div>
</div>


        <script src="/js/jquery.js"></script>
        <script src="/js/foundation.min.js"></script>
        <script src="/js/foundation/foundation.magellan.js"></script>
        <script>
          $(document).foundation();
        </script>
        <script src="/js/main.js"></script>
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-49018575-1', 'ignitesanfrancisco.com');
        ga('send', 'pageview');

      </script>
    </body>
</html>
