---
layout: default
twittercard: summary_large_image
---
<div class="content large-8 large-centered columns spark">
  <div class="row">
    <div class="large-10 columns">
      <h2>{{ page.title }}</h2>
      <h4 class="speakername">
        <img src="{{ page.profileImageUrl }}" width="48">
        {{ page.name }}
        {% if page.twitter %}-
        <a href="https://twitter.com/{{ page.twitter }}">@{{page.twitter}}</a>
        {% endif %}
      </h4>
      <p class="eventdate">{{ page.eventDate }}</p>
    </div>
    <div class="large-2 columns social">
      <a href="http://twitter.com/intent/tweet?status={{ page.title | escape }}%20{{ site.url | escape }}{{ page.url | escape }} by @{{ page.twitter }}"><img src="/imgs/sharing-twitter.png"></a>
      <a href="http://facebook.com"><img src="/imgs/sharing-fb.png"></a>
    </div>
  </div>


  <div class="video">
    <!-- Embed youtube video -->
    <div class="flex-video widescreen">

      {% if page.videoId %}
      <iframe width="800" height="450" src="//www.youtube.com/embed/{{ page.videoId }}?feature=player_detailpage&color=red&showinfo=0&theme=light&autohide=1" frameborder="0" allowfullscreen></iframe>
      {% else %}
      <div class="novideo"><h2>Video coming soon</h2></div>
      {% endif %}
    </div>

    {{ page.videoUrl }}
  </div>

  <div class="aboutSpeaker">
    <p>{{ content | markdownify }} </p>
  </div>


  <div class="row getinvolved">

    <div class="large-4 columns">
      <h4>Speak at Ignite</h4>
      <p class="small">Have something you are passionate about? Can you teach the rest of us about your interests?</p>
      <p class="small"><a href="/#speak">Speak at Ignite!</a></p>
    </div>

    <div class="large-4 columns">
      <h4>Attend the next Ignite</h4>
      <p class="small">Ignite SF happens several times a year, our next event is {{ site.nextEvent }}. You shoud come!</p>
      <p class="small"><a href="/#attend">Attend the next Ignite!</a></p>
    </div>


    <div class="large-4 columns">
      <h4>Get email updates</h4>
      <p class="small">The best way to keep up with Ignite SF. Dont worry we dont send many emails, just enough to keep you informed about upcoming events.</p>
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="http://ignitesanfrancisco.us2.list-manage.com/subscribe/post?u=a6f785ee4e1b93c767a41d660&amp;id=307b345ed9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

          <div class="mc-field-group">
	        <label for="mce-EMAIL"> </label>
	        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
          <input type="submit" value="Join" name="subscribe" id="mc-embedded-subscribe" class="button">
          </div>
	      <div id="mce-responses" class="clear">
		    <div class="response" id="mce-error-response" style="display:none"></div>
		    <div class="response" id="mce-success-response" style="display:none"></div>
	      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_a6f785ee4e1b93c767a41d660_307b345ed9" value=""></div>
        </form>
      </div>

      <!--End mc_embed_signup-->

    </div>
  </div>


  <div class="row relatedVideos">
    <h3>More Videos from Ignite SF {{ page.ignitesf }}</h3>
    {% for p in site.pages %}

    {% if p.title == page.title or vidcount >= 1 %}
    <!-- {% increment vidcount %} -->
    {% endif %}
    {% if p.layout == "spark" and p.ignitesf == page.ignitesf %}
    {% if vidcount <= 4 and vidcount > 1 %}
    <div class="large-4 columns relatedvid">
      <h4><a href="{{ p.url }}">{{ p.title }}</a></h4>
      <img align="left" class="video" src="http://img.youtube.com/vi/{{ p.videoId }}/mqdefault.jpg" />
    </div>
    {% endif %}
    {% endif %}

    {% endfor %}

  </div>


</div>
